.sticky{
    position: sticky;
    top:0;
    padding: 0;
    border: 2px;
}
.topnav{
    overflow: hidden;
    margin: 0;
    padding: 10px;
    background-color:darkslategray;
}
a{
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
